---
import { CONFIG } from "../../../config";

const { tenantId } = Astro.params;

const endpoint = CONFIG.api + "/tenants/" + tenantId + "/categories";

const categories = await fetch(endpoint).then((res) => res.json());
---

<div>
  <h1>Categories</h1>
  <ul>
    {
      categories.map((category: any) => (
        <li>
          <a href={`/categories/${category.slug}`}>{category.name}</a>
        </li>
      ))
    }
  </ul>
</div>
