---
import { CONFIG } from "../../../config";

const { tenantId } = Astro.params;

const endpoint = CONFIG.api + "/tenants/" + tenantId + "/posts";

const posts = await fetch(endpoint).then((res) => res.json());
---

<div>
  {
    posts.map((post: any) => {
      return (
        <div>
          <h1>{post.title}</h1>
          <a href={post.slug}>Go to post</a>
        </div>
      );
    })
  }
</div>
